label for="title" Titel:
input.title type="text" name="post[title]" value="#{@post.title}" size="32"
br
label for="synopsis" Synopsis:
input.title type="text" name="post[synopsis]" value="#{@post.synopsis}" size="32"
br
label for="content" Content:
input.title type="text" name="post[content]" value="#{@post.content}" size="32"
br
br
input.title type="hidden" name="post[user_id]" value="1" size="32"