#conversations
  width: 100%
  +display(flex)
  +flex(1 1)
  +flex-flow(row wrap)
  +justify-content(flex-start)
  +align-content(flex-start)
  +align-items(stretch)
  height: 80vh
  overflow-y: hidden

#conversations-menu
  +flex(0 0 15%)
  padding-right: $default-padding/2
  +media($tablet)
    display: none

#conversations-list
  +flex(0 0 25%)
  +media($tablet)
    +flex(0 0 30%)
  +media($mobile)
    +flex(0 0 100%)
    padding: 0
    border-right: 0px!important

#conversations-list, #conversations-menu
  border-right: 1px solid white

#conversations-menu, #conversations-list, #messages
  +calc(height, "100% - 26px")
  overflow-y: scroll

#conversations-meta-menu
  +flex(0 0 100%)
  margin: $default-margin/2 0

#messages
  position: relative
  +flex(0 0 60%)
  min-height: 400px
  padding: 0 0 0 $default-padding/2
  +media($tablet)
    +flex(0 0 70%)
  +media($mobile)
    display: none

.messages-list-item
  margin-bottom: $default-margin
  +span-columns(12)
  +omega
  &:last-child
    margin-bottom: 200px

.message-header
  margin-bottom: $default-margin/2
  position: relative
  +span-columns(1)

.message-title
  font-weight: bold

#message-nav
  margin: $default-margin 0
  float: left
  width: 100%
  a
    &:first-child
      float: left
    &:last-child
      float: right

#show-menu-mobile
  display: none
  +media($tablet)
    display: inline-block

.conversations-list-item
  position: relative
  +transition(background 0.3s ease-out)
  &:nth-child(odd)
    background: lighten($bg-color, 5%)
  &:nth-child(even)
    background: lighten($bg-color, 2.5%)
  &:hover
    background: darken($bg-color, 5%)
  &.selected
    background: lighten($bg-color, 10%)

.conversation-inner-wrapper
  position: relative
  padding: $default-padding/2 0
  margin: 0 $default-padding/2
  cursor: pointer

.conversation-status
  position: absolute
  top: $default-padding/2
  right: $default-padding/2
  &.green
    color: $green

.conversation-timestamp, .message-timestamp
  font-size: 14px

.message-timestamp
  color: silver

#new-message
  float: right

#message-answer
  width: 100%
  height: 100px

#message-spinner
  opacity: 0
  +size(30px)
  +total-center
  background-color: white
  +animation(rotateplane 1.2s infinite ease-in-out)
  &.loading
    opacity: 1

+keyframes(rotateplane)
  0%
    +transform(perspective(120px) rotateX(0deg) rotateY(0deg))
  50%
    +transform(perspective(120px) rotateX(-180.1deg) rotateY(0deg))
  100%
    +transform(perspective(120px) rotateX(-180deg) rotateY(-179.9deg))

#message-answer-box
  position: absolute
  bottom: 0
  right: 0
  +calc(width, "60% - 2px")
  background: $bg-color
  padding: 0 $default-padding/2

.message-user
  float: left
  border-radius: 50%
  +size(30px)

.message-content
  +span-columns(11)
  +omega()

.message-text
  margin: $default-margin/2 0 $default-margin 0