#site-profile
  position: relative
  +span-columns(12)
  +omega
  margin-bottom: $default-margin

#favourite-nav
  position: absolute
  top: 0
  right: 0
  span
    font-size: 14px
  +media($mobile)
    position: inherit
    right: inherit
    top: inherit
    margin: $default-margin/4 0

#site-description
  +span-columns(12)
  +omega
  margin-bottom: $default-margin

#site-gallery, #site-info
  +span-columns(6)
  +omega(2n)
  margin-bottom: $default-margin
  +media($mobile)
    +span-columns(12)
    +omega

#site-main-image
  margin-bottom: $default-margin/2
  background: black

#site-hero-image
  display: block
  width: 100%
  max-width: 100%

.site-gallery-list
  +span-columns(12)
  +omega

.site-gallery-list-item
  +span-columns(3)
  +omega(4n)
  margin-bottom: $default-margin/2
  border: 1px solid transparent
  cursor: pointer
  +transition(border-color 0.3s ease-out)
  img
    display: block
  &.selected
    border: 1px solid white

.card-site-info
  +span-columns(12)
  +omega
  position: absolute
  bottom: 0
  right: 0
  +media($mobile)
    display: none

.card-site-info-user, .card-site-info-distance
  +span-columns(6)
  +omega(2n)
  i
    margin: 0 $default-margin/5
  span
    margin-right: $default-margin/5
    font-size: 14px
  +media($tablet)
    +span-columns(12)
    +omega
    text-align: left!important  

.card-site-info-distance
  text-align: right

#site-main-image
  position: relative

#site-gallery-nav
  +vertical-center
  width: 100%

.site-gallery-nav
  cursor: pointer
  &.left
    float: left
    margin-left: $default-margin/2
  &.right
    float: right
    margin-right: $default-margin/2
  &.last
    display: none