.friendship-to-accept-counter, .mail-counter
  position: absolute
  top: -4px
  right: -14px
  background: $highlight
  color: white
  +size($default-margin)
  text-align: center
  line-height: $default-margin
  font-size: 14px
  border-radius: 50%
  display: inline-block
  vertical-align: super
  +media($tablet)
    +size($default-margin/2)
    font-size: 0
    right: -4px
    top: -2px

.user-avatar
  +span-columns(3)
  img
    border-radius: 50%
  +media($mobile)
    +span-columns(4)

.user-info
  +span-columns(9)
  +omega
  font-size: 14px
  line-height: 1.4
  p
    margin-bottom: $default-margin/2
  ul
    li
      font-weight: bold
      margin-bottom: $default-margin/2
  +media($mobile)
    +span-columns(8)

.edit-profile-link
  color: $highlight
  margin: 0 $default-margin/4 0 $default-margin/2
  span
    font-size: 14px

.user
  &:hover
    .card-online-indicator
      max-width: 65px
      max-height: 20px
      border-radius: 3px
      &:before
        color: white

.card-online-indicator
  position: absolute
  left: 5px
  top: 5px
  color: white
  font-size: 12px
  padding: 1px 3px
  overflow: hidden
  border-radius: 50%
  max-width: 10px
  max-height: 10px
  +transition(all 0.3s ease-in-out)
  &:before
    +transition(color 0.3s ease-in-out)
  &.online
    background: $dark-green
    color: $dark-green
    &:before
      content: 'online'
  &.idle
    background: $dark-orange
    color: $dark-orange
    &:before
      content: 'abwesend'
  &.offline
    background: $dark-red
    color: $dark-red
    &:before
      content: 'offline'
  +media($mobile)
    right: 2px
    top: 2px
    left: inherit
    +size(10px)
    border-radius: 50%!important 
    padding: 0
    &:before
      content: ''!important

// KINg
// ----------------------------------------------

#messages-king, #friend-king
  display: inline-block
  margin-left: $default-margin/2
  background: $info-color
  +size(25px)
  text-align: center
  line-height: 25px
  border-radius: 50%
  +transition(transform 0.2s ease-out)
  &:hover
    +transform(scale(1.1))
  img
    position: absolute
    top: -40%
    right: -20%
    +transform(rotate(20deg))

// Friendships
// ----------------------------------------------

.friendship-requests, #friendships, #user-profile
  position: relative
  +span-columns(12)
  +omega
  margin-bottom: $default-margin

#user-profile
  padding-top: $default-padding/2

.friendships
  +span-columns(12)

#friendships-to-accept, #mail
  i
    font-size: 26px
    color: white

.accept-friendship, .delete-friendship
  margin-right: $default-margin/2

.accept-friendship
  color: darken($green, 10%)

.delete-friendship
  color: darken($red, 10%)

#friendship-nav
  position: absolute
  top: 10px
  right: 0
  span
    font-size: 14px
  +media($mobile)
    position: inherit
    right: inherit
    top: inherit
    margin: $default-margin/4 0

// Edit
// ----------------------------------------------

.edit-avatar
  +span-columns(6)
  +media($tablet)
    +span-columns(4)
  +media($mobile)
    +span-columns(12)
    +omega
    margin-bottom: $default-margin*2

.edit-data
  +span-columns(6)
  +omega
  +media($tablet)
    +span-columns(8)
  +media($mobile)
    +span-columns(12)

.edit-form, .new-post-form
  width: 100%
  label
    display: inline-block
    width: 30%
    +media($mobile)
      display: block
      width: 100%
    &.top
      vertical-align: top
  input[type="text"], input[type="password"], input[type="email"], textarea
    +appearance(none)
    color: $dark-grey
    border: 0
    outline: 0
    width: 70%
    padding: 8px
    font-size: 20px
    margin: $default-margin/2 0
    +media($mobile)
      display: block
      width: 100%
  .button
    margin-top: $default-margin*2