@import bourbon
@import neat

@import grid/grid-settings

@import settings/foundation
@import settings/color
@import settings/variables
@import settings/form
@import settings/button
@import settings/flash

@import user/user
@import nav/nav

// Test Styles
// ------------------------------------

body
  background: #333
  color: white

a
  &:visited, &:link
  color: silver
  text-decoration: underline

.container
  +outer-container