.card
  +span-columns(2)
  +omega(6n)
  margin-bottom: $default-margin
  background: $tile-color
  box-shadow: 1px 1px 5px 0 rgba(black, 0.2)
  +media($tablet)
    +span-columns(3)
    +omega-reset(6n)
    +omega(4n)
  +media($mobile)
    +span-columns(12)
    +omega
    margin-bottom: $default-margin/2
    position: relative

.card-avatar
  position: relative
  +size(100%)
  background: $light-grey
  border-bottom: 2px solid
  .site &
    border-color: $site-color
  .user &
    border-color: $user-color
  &:before
    content: ""
    display: block
    padding-top: 100%
  a
    +cover-all
    z-index: 1
  +media($mobile)
    +size(auto)
    +span-columns(2)
    border-left: 2px solid
    border-bottom: 0

.card-favourite-indicator
  position: absolute
  right: -5px
  top: -5px
  +size(20px)
  border-radius: 50%
  color: white
  text-align: center
  font-size: 12px
  &.active
    background: $dark-green
    &:before
      vertical-align: sub
      content: "✔"
  &.requested
    background: $dark-orange
    &:before
      content: "..."
      font-weight: bold

.card-content
  float: left
  width: 100%
  +padding($default-padding/2)
  a
    display: block
  .user-name, .site-name
    font-weight: bold
    text-decoration: none
  .accept-friendship, .delete-friendship
    font-size: 26px
    margin-right: 0
  .accept-friendship
    float: left
  .delete-friendship
    float: right
  +media($mobile)
    +size(auto)
    +span-columns(10)
    +omega
    +vertical-center
    left: 14.89362%
    a
      height: 22px
      display: inline-block
      margin-right: $default-margin/2
      &:not(.user-name)
        margin-bottom: -3px