<p>Please confirm your email adress:<p>
<a href="http://localhost:9292/users/<%= @user.id %>/confirm/<%= @confirmation.code %>">
  http://kletterpartner.io/users/<%= @user.id %>/confirm/<%= @confirmation.code %>
</a>