- if @user.avatar != nil
  img.avatar src="/images/#{@user.id}/#{@user.avatar}"
- else
  img.avatar src="/images/avatar.png"
br
br

label for="file" Avatar:
input.title type="file" name="file" value="#{@user.avatar}" size="32" 