- unless env['warden'].authenticated?

  h2 Hello Climber
  br
  p 
    | you can 
    a href="/auth/login" login
    |  , 
    a href="/users/new" sign up
    |  or just read the 
    a href="/blog" blog

- else 
  
  h2
    | Hello   
    = env['warden'].user.forename

  form#form
    input#input type="text" value=("send a message") /
  #msgs

  javascript:
    window.onload = function() {
      (function() {
        var show = function(el) {
          return function(msg) {
            el.innerHTML = msg + '<br />' + el.innerHTML;
          }
        }(document.getElementById('msgs'));
        var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen = function() {
          console.log('websocket opened');
        };
        ws.onclose = function() {
          console.log('websocket closed');
        }
        ws.onmessage = function(m) {
          show('websocket message: ' + m.data);
        };
        var sender = function(f) {
          var input = document.getElementById('input');
          input.onclick = function() {
            input.value = ""
          };
          f.onsubmit = function() {
            ws.send(input.value);
            input.value = "send a message";
            return false;
          }
        }(document.getElementById('form'));
      })();
    }