.admin-bar
  +span-columns(12)
  +padding($default-padding 0)
  border-top: 1px solid $red
  border-bottom: 1px solid $red

#admin-navigation
  background: $admin
  margin: -20px 0 20px 0
  ul
    padding: 10px 0
    li
      display: inline-block
      margin-right: 20px