.friendship-to-accept-counter
  background: black
  color: white
  +size($default-margin)
  text-align: center
  line-height: $default-margin
  font-size: 14px
  border-radius: 50%
  display: inline-block